/*color*/
.color-success {color: #67C23A;}
.color-warning {color: #E6A23C;}
.color-danger {color: #F56C6C;}
.color-info {color: #909399;}
.color-help {color:#b6d06c;}

.text-primary{ color:#303133;}
.text-regular{ color:#606266 ;}
.text-secondary{ color:#909399;}
.text-placeholder{ color:#c0c4cc;}


.border-color-base{ color:#dcdfe6 ;}
.border-color-light{ color:#e4e7ed ;}
.border-color-lighter{ color:#ebeef5;}
.border-color-extra-light{ color:#f2f6fc ;}


