.el-input__inner{
  height:28px;
  line-height:28px;
  font-size:12px;
}
.el-input--small .el-input__inner{
   height:24px;
   line-height:24px;
}
.el-input--small .el-input__icon {
  line-height: 24px;
}
.el-input .el-input__icon {
  line-height: 28px;
}
.el-checkbox__label{
  font-size: 12px;
}